.close_btn {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 70px;
  right: 10px;
  background-color: rgba(88, 88, 88, 0.578);
  color: #FFF;
  border-radius: 100px;
  text-align: center;


}

.content {
  margin: 15px;
  margin-top: 80px;
}

.btn_visit {
  background-color: #84adf4;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  width: 70px;
  font-size: 10pt;
  float: right;
}

.image_display {
  height: 100%;
  overflow-y: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
  z-index: 2;
}

.add {

  position: fixed;
  z-index: 10;
  float: right;
  right: 0;
  top: 0;
  margin: 7px;

}

body {
  width: 80%;
  margin: 30px auto;
  font-family: sans-serif;
}

h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}

div {
  font-size: 0;
}

.a {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
}

.a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .a {
    width: calc(25% - 6px);
  }

  .a:nth-of-type(2n) {
    margin-right: 8px;
  }

  .a:nth-of-type(4n) {
    margin-right: 0;
  }
}


figure {
  margin: 0;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  height: 140px;
}

















.image-grid {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 5px 0;
}



.image--basic {
  padding: 0 5px;
}



.image__cell.is-collapsed .image--basic {
  cursor: pointer;
}

.image__cell.is-expanded .image--expand {
  max-height: 500px;
  margin-bottom: 10px;
}

.image--expand {
  position: relative;
  left: -5px;
  padding: 0 5px;
  box-sizing: content-box;
  overflow: hidden;
  background: #222;
  height: 250px;
  max-height: 0;
  color: white;
  transition: max-height .3s ease-in-out, margin-bottom .1s .2s;
}

.image__cell.is-collapsed .arrow--up {
  height: 10px;
  width: 100%;
}

.image__cell.is-expanded .arrow--up {
  border-bottom: 8px solid #222;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  height: 0;
  width: 0;
  margin: 2px auto 0;
}

.expand__close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #454545;
  font-size: 50px;
  line-height: 50px;
  text-decoration: none;
}

.expand__close:before {
  content: '×';
}

.expand__close:hover {
  color: #fff;
}

.image--large {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 530px) {

  .image__cell {
    width: 50%;
  }

  .image__cell:nth-of-type(2n+2) .image--expand {
    margin-left: -100%;
  }

  .image__cell:nth-of-type(2n+3) {
    clear: left;
  }

  .image--expand {
    width: 200%;
  }

}

@media only screen and (min-width: 531px) {


  .image__cell:nth-of-type(5n+2) .image--expand {
    margin-left: -100%;
  }

  .image__cell:nth-of-type(5n+3) .image--expand {
    margin-left: -200%;
  }

  .image__cell:nth-of-type(5n+4) .image--expand {
    margin-left: -300%;
  }

  .image__cell:nth-of-type(5n+5) .image--expand {
    margin-left: -400%;
  }

  .image__cell:nth-of-type(5n+6) {
    clear: left;
  }

  .image--expand {
    width: 500%;
  }

}